dither/dither
dither/stb_image.h
dither/stb_image_write.h
dither/*.JPEG
dither/*.png
dither/400
bootstrapping/maliciousq
bootstrapping/q
pipedk-status/obj
pipedk-status/pipedk
c_tricks/a.out
notities/tagfinder
notities/tagindex
wordle/wordle
levenshtein-dist/a.out
c_tricks/a.out
bf_interpreter/interpreter
typst_toc/toccer
typst_toc/test.typ
**/*.out
bolleke/bol
